### Configuration (All fields are required)
### Common settings
###
MY_USERNAME="nextcloud-admin" # This is a username that will be used for the Nextcloud Web UI
HOST_NAME="nextcloud.yourdomain.com" # Advisory: set to the same as your DNS entry
MY_IP="192.168.6.1"
MY_EMAIL="${MY_USERNAME}@${HOST_NAME}"
SERVER_EMAIL="nextcloud-alert" # will have ${HOST_NAME} automatically appened, used to send out alerts from the server by `sendmail`
NEXTCLOUD_VERSION="24" # The integrated document_server app does not yet work on v24+

### Settings for Nextcloud, logging, and openSSL:
###
COUNTRY_CODE="AU" # Example: US/UK/CA/AU/DE, etc.
TIME_ZONE="Australia/Sydney" # See: https://www.php.net/manual/en/timezones.php

### Nextcloud settings
###
ADMIN_USERNAME="admin"
ADMIN_PASSWORD=$(openssl rand -base64 12)
DATA_DIRECTORY="/mnt/nextcloud_data" ## Please use something like /path/to/zfs/dataset/ - and use the script to create a subdirectory for NC data 

### mySQL setttings
###
DB_ROOT_PASSWORD=$(openssl rand -base64 16)
DB_USERNAME="nextcloud"
DB_PASSWORD=$(openssl rand -base64 16)
DB_NAME="nextcloud" 


#############################################
###             END OF CONFIG             ###
#############################################