sudo
gnupg
git
nano
vim
ffmpeg
sendmail
clamav
apache24
mysql80-server
samba412
php80
php80-bcmath
php80-bz2
php80-ctype
php80-curl
php80-dom
php80-exif
php80-fileinfo
php80-filter
php80-ftp
php80-gd
php80-gmp
php80-iconv
php80-intl
php80-ldap
php80-mbstring
php80-opcache
php80-pcntl
php80-pdo
php80-pdo_mysql
php80-pecl-APCu
php80-pecl-imagick-im7
php80-posix
php80-session
php80-simplexml
php80-xml
php80-xmlreader
php80-xmlwriter
php80-xsl
php80-zip
php80-zlib