git
gnupg
nano
vim
apache24
clamav
ffmpeg
mariadb118-server
redis
sendmail
php84
php84-bcmath
php84-bz2
php84-ctype
php84-curl
php84-dom
php84-exif
php84-fileinfo
php84-filter
php84-ftp
php84-gd
php84-gmp
php84-iconv
php84-imap
php84-intl
php84-ldap
php84-mbstring
php84-opcache
php84-pcntl
php84-pdo
php84-pdo_mysql
php84-pecl-APCu
php84-pecl-imagick
php84-pecl-redis
php84-pecl-smbclient
php84-phar
php84-posix
php84-session
php84-sodium
php84-simplexml
php84-sysvsem
php84-xml
php84-xmlreader
php84-xmlwriter
php84-xsl
php84-zip
php84-zlib
