sudo
git
gnupg
nano
vim
apache24
clamav
ffmpeg
mariadb106-server
redis
sendmail
php82
php82-bcmath
php82-bz2
php82-ctype
php82-curl
php82-dom
php82-exif
php82-fileinfo
php82-filter
php82-ftp
php82-gd
php82-gmp
php82-iconv
php82-imap
php82-intl
php82-ldap
php82-mbstring
php82-opcache
php82-pcntl
php82-pdo
php82-pdo_mysql
php82-pecl-APCu
php82-pecl-imagick
php82-pecl-redis
php82-pecl-smbclient
php82-phar
php82-posix
php82-session
php82-simplexml
php82-sysvsem
php82-xml
php82-xmlreader
php82-xmlwriter
php82-xsl
php82-zip
php82-zlib
